[submodule "server"]
	path = server
	url = https://github.com/Prodigy-Solutions-Development/central-backend.git
[submodule "client"]
	path = client
	url = https://github.com/Prodigy-Solutions-Development/central-frontend.git
